---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHero from "../components/HomeHero.astro";
import Button from "../components/Button.astro";

const pageTitle = "Home | Jason Marshall Digital";
const pageDescription =
  "Jason Marshall Digital specializes in WordPress, Astro, and Next JS.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <HomeHero title="Home" />

  <section>
    <div class="container mx-auto py-20">
      <Button>Get Started</Button>
    </div>
  </section>
</BaseLayout>
