---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Nav from "@/global/Nav.astro";
import Hero from "@/components/Hero.astro";
import StackMarquee from "@/components/StackMarquee.astro";
import ProjectsGrid from "@/components/ProjectsGrid.astro";
import Services from "@/components/Services.astro";
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/global/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <StackMarquee />
    <ProjectsGrid limit={3} />
    <Services />
    <About />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
