---
import Link from "@/components/Link.astro";
import { Icon } from "astro-icon/components";
import navLinks from "@/data/navLinks.json";
import siteGlobals from "@/data/siteGlobals.yaml";
---

<header
  class="bg-dark-grey fixed top-0 z-50 w-full p-0 lg:bg-transparent lg:px-6 lg:pt-3"
>
  <nav
    class="border-med-grey container mx-auto flex items-center justify-between border-b px-4 py-4.5 lg:rounded-xl lg:border-2 lg:px-3 xl:px-8"
  >
    <Link href={"/"}>Jason Marshall Digital</Link>

    <ul class="flex list-none items-center gap-12">
      {
        navLinks.map((link) => {
          return (
            <li>
              <Link href={link.slug}>{link.title}</Link>
            </li>
          );
        })
      }
    </ul>

    <Link href={siteGlobals.urls.github} target="_blank">
      <Icon name="github" size="24" />
    </Link>
  </nav>
</header>
